.jumbotron{
	background-color: #222222; 
	border-radius: 0 0 -60px 0;
	margin-top:2.5em;
	padding:0px;
}
footer{
	padding: 10px;
	margin-top: 30px;
}

.btn-reserva{
	width: 100%;
}

.card-personaje{
	flex: 1 150px;
	padding: 5px;
	margin-top: 10px;
}
.carousel-header{
	height: 25vw;
}
.bg-black{
	background:#121212;
}
.bg-sblack{
	background-color: #222222;
}
.flex{
	display: flex;
}